
@media screen and (min-width: 1080px){
	
body{
	margin: 0 0 0 0;
}

#blog_content{
	margin: 0 auto;
}

.blog {
	position: relative;
}

.blog__heading {
	width: auto;
	margin-top: 110px;
	margin-left: 0px;
	margin-bottom: 45px;
	font-family: 'Ubuntu';
	font-size: 60px;
	color: #333333;
	letter-spacing: 1px;
	text-shadow: 2px 2px 0px #FF6600;
}

.blog__articles{
	display: flex;
	margin-bottom: 100px;
}

.blog__article--main{
	margin-left: 0px;
	width: 490px;
	color:#333333;
	letter-spacing: 1px;
	font-family:'Ubuntu';
	font-size:15px;
	font-weight: 100;
	transition: 0.2s;
}

.blog__article-title--main {
	font-size: 1.5em;
	color: #333333;
	margin-bottom: 0px;
}

.blog__article-link--main {
	color: #333333;
	text-decoration: none;
}

.blog__article-link--main:hover {
	color: #FF6600;
	transition: 0.2s;
	text-decoration: none;
}

.blog__article-image {
	margin-top: 40px;
	margin-left: 2px;
	border-radius:3px;
}

.blog__date {
	color: #898989;
	font-family:'PT Sans';
	font-size:14px;
	letter-spacing: 0px;
}

.blog__author {
	margin-left: auto;
	margin-right: 0;
	text-align: right;
	color: #898989;
	font-family:'PT Sans';
	font-size:14px;
	letter-spacing: 0;
}

.blog__article-info{
	display: flex;
}

.blog__article--aside {
	margin-left: 73px;
	margin-bottom: 30px;
}

.blog__article-title {
	width: 430px;
	margin-bottom: 3px; 
	color:#333333;
	letter-spacing: 1px;
	font-family:'Ubuntu';
	font-size:19px;
	font-weight: 400;
	transition: 0.2s;
}

.blog__article-link {
	color: #333333;
	transition: 0.2s;
	text-decoration: none;
}

.blog__article-link:hover{
	color: #FF6600;
	transition: 0.2s;
	text-decoration: none;
}


.blog-image-right {
	margin-top: -60px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	background: url('../images/try_dis.svg') no-repeat;
	height: 325px;
	width: 135px;
}

.blog__more-link {
	margin: 5px 0 0 75px;
	color: #090909;
	font-family:'Ubuntu';
	font-size:19px;
	border-bottom: 2px #303030 solid;
	display: inline-block;
  vertical-align: baseline;
  line-height: 1;
	text-decoration: none;
	transition: 0.2s;
}

.blog__more-link:hover{
		border-bottom:2px #ffffff solid;
		transition: 0.2s;
}
}


/*//////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1079px){
	
	body{
	margin: 0 0 0 0;
	background-color: #DDDDDD;

}
	
.blog {
	width: auto;
	height: auto;
	background-color: white;
}

.calendar{
	display: none;
}

.blog__heading {
	margin-top: 0px;
	margin-left: 30px;
	margin-bottom: 35px;
	font-family: 'Ubuntu';
	font-size: 88px;
	color: #333333;
	letter-spacing: 2px;
	text-shadow: 2px 2px 0px #FF6600;
}

.blog-image-right {
	display: none;
}

.blog__articles{
	display: inline;
	margin: 0 0 0 0;
}

.blog__articles img{
	content: url('../images/blogphoto.jpg');
	width: 798px;
	height: 477px;
	border-radius:0px;
	margin-top: 30px;
	
}

.blog__article--main{
	margin-left: 0px;
	width: auto;
	color:#333333;
	letter-spacing: 1px;
	font-family:'Ubuntu';
	font-size:33px;
	font-weight: 100;
}

.blog__article-title--main {
	font-size: 1.5em;
	margin-left: 30px;
	margin-right: 10px;
}

.blog__article-link--main {
	color: #333333;
	transition: 0.2s;
	text-decoration: none;
}

.blog__date {
	margin-left: 30px;
	font-size:35px;
	font-weight: 500;
	font-family:'PT Sans';
}

.blog__author {
	margin-right: 30px;
	font-size:35px;
	font-weight: 500;
	font-family:'PT Sans';
}

.blog__article--aside {
	margin-left: 0px;
	width: auto;
	color:#333333;
	letter-spacing: 1px;
	font-family:'Ubuntu';
	font-size:33px;
	font-weight: 100;
}

.blog__article-title {
	margin-left: 35px;
	margin-right: 5px;
	width: auto;
	font-size:35px;
	font-weight: 600;
}

.blog__article-link {
	color: #333333;
	transition: 0.2s;
	text-decoration: none;
}

.blog__article--aside:nth-child(3){
	display: none;
}

.blog__more {
	margin: 0 0 0 0;
}

.blog__more-link {
	margin: 35px 0 120px 30px;
	color: #090909;
	font-family:'Ubuntu';
	font-size:45px;
	border-bottom: 2px #303030 solid;
	display: inline-block;
  vertical-align: baseline;
  line-height: 1;
	text-decoration: none;
	font-weight: 600;
}

}