.banner {
	padding-top: 200px;
	font-family: 'Ubuntu', Arial, sans-serif;
}

.banner__photo {
	position: relative;
	width: 100%;
	height: calc(100vh - 67px);
	margin-top: -260px;
	background: #333333;
	background-image: url('../images/about-us.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.banner__photo--project {
	background-image: url('../images/project-bg.jpg');
}

.banner__photo--project {
	background-image: url('../images/project-bg.jpg');
}

.banner__photo--event {
	background-image: url('../images/event-bg.jpg');
}

.banner__photo::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(51, 51, 51, 0.7);
}

.banner__container {
	position: relative;
	height: calc(100vh - 67px);
	margin-top: -260px;
}

.banner__heading {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0;
	margin: 0;
	color: #ffffff;
	font-size: 60px;
	line-height: normal;
	vertical-align: middle;
	transform: translate(-50%, -50%);
}


.banner__info {
	margin: 0;
	margin-top: 70px;
	font-size: 14px;
}

.banner__date {
	margin-right: 60px;
}

.banner__btn-scroll {
	position: absolute;
	bottom: 20px;
	left: 50%;
	display: block;
	width: 40px;
	height: 40px;
	font-size: 0;
	background-image: url('../images/arrow-down.png');
	background-repeat: no-repeat;
	background-size: 40px 40px;
	transform: translate(-50%, 0);
}

.banner__date-block,
.banner__status {
	position: absolute;
	right: 0;
	bottom: 20px;
	box-sizing: border-box;
	width: 233px;
	height: 86px;
	margin: 0;
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	line-height: 86px;
	text-align: center;
	vertical-align: middle;
	background-color: #333333;
}

.banner__status--process .banner__status-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 20px;
	content: url('../images/process.svg');
	vertical-align: middle;
}

.about {
	padding-top: 100px;
	margin-bottom: 110px;
	color: #333333;
	background-image: url('../images/about-bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
}

.about__btn {
	display: block;
	width: 420px;
	padding: 12px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: -0.01em;
	text-align: center;
	text-decoration: none;
	background-color: #ff6600;
	border: 2px solid #ff6600;
	border-radius: 3px;
	transition: all 0.2s ease-in;
}

.about__btn:hover,
.about__btn:active {
	color: #ff6600;
	background-color: #ffffff;
}


/* content styles */

.content img {
	display: block;
	width: 100%;
	height: auto;
	margin-top: 45px;
	margin-bottom: 70px;
}

.content h2 {
	margin-top: 0;
	margin-bottom: 42px;
	font-size: 24px;
	font-weight: 700;
	line-height: 22px;
}

.content h3 {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
}

.content p {
	margin-top: 0;
	margin-bottom: 35px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.content .intro-paragraph {
	margin-bottom: 50px;
}

.content a {
	color: #333333;
	text-decoration: underline;
}

.content a:hover,
.content a:focus {
	color: #ff6600;
}

.content a:active {
	color: #ff6600;
	text-decoration: none;
}

/* end of content styles */
