.banner {
  font-family: 'Ubuntu', Arial, sans-serif;
}

.banner__photo {
  position: relative;
	width: 100%;
	height: calc(125vh - 66px);
	background: #333333;
	background-repeat: no-repeat;
	background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.banner__photo::before {
	display: block;
	width: 100%;
	height: calc(100vh - 66px);
	content: '';
	background-color: rgba(51, 51, 51, 0.7);
}

.banner__photo::after {
  position: absolute;
  top: calc(100vh - 66px);
	width: 100%;
	height: 25vh;
	content: '';
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 20%, 0.7) 0%,
    hsla(0, 0%, 22.85%, 0.704) 8.1%,
    hsla(0, 0%, 29.44%, 0.715) 15.5%,
    hsla(0, 0%, 37.4%, 0.731) 22.5%,
    hsla(0, 0%, 45.65%, 0.753) 29%,
    hsla(0, 0%, 53.75%, 0.778) 35.3%,
    hsla(0, 0%, 61.48%, 0.806) 41.2%,
    hsla(0, 0%, 68.71%, 0.835) 47.1%,
    hsla(0, 0%, 75.36%, 0.865) 52.9%,
    hsla(0, 0%, 81.37%, 0.894) 58.8%,
    hsla(0, 0%, 86.67%, 0.922) 64.7%,
    hsla(0, 0%, 91.19%, 0.947) 71%,
    hsla(0, 0%, 94.88%, 0.969) 77.5%,
    hsla(0, 0%, 97.64%, 0.985) 84.5%,
    hsla(0, 0%, 99.39%, 0.996) 91.9%,
    hsl(0, 0%, 100%) 100%
  );
  background-blend-mode: screen;
}

.banner__container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.banner__text {
	position: absolute;
	top: 37.5%;
	left: 50%;
	margin: 0;
	color: #ffffff;
	vertical-align: middle;
	-webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 778px;
}

.banner__heading {
	margin: 0;
	font-size: 60px;
  line-height: 68px;
  font-weight: 500;
  word-wrap: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  hyphens: auto;
}

.banner__info {
  font-size: 14px;
  margin: 44px 0 0 0;
}

.banner__date {
	margin-right: 40px;
}

.banner__btn-scroll {
	position: absolute;
	bottom: calc(25vh + 20px);
	left: 50%;
	display: block;
	width: 40px;
	height: 40px;
	font-size: 0;
	background-color: transparent;
	background-image: url('../images/arrow-down.png');
	background-repeat: no-repeat;
	background-size: 40px 40px;
	border: none;
	outline: none;
	-webkit-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	cursor: pointer;
}

.banner__date-block,
.banner__status {
	position: absolute;
	right: 188px;
	bottom: 25vh;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 233px;
	height: 86px;
	margin: 0;
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	line-height: 86px;
	text-align: center;
	vertical-align: middle;
	background-color: #333333;
}

.banner__status--process .banner__status-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 15px;
	content: url('../images/process.svg');
	vertical-align: middle;
}

.content {
  position: relative;
	padding-top: 105px;
	margin-bottom: 110px;
	color: #333333;
	background-repeat: no-repeat;
	background-position: top center;
  background-size: 100%;
}

.content__btn {
	display: block;
	width: 420px;
	padding: 12px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: -0.01em;
	text-align: center;
	text-decoration: none;
	background-color: #ff6600;
	border: 2px solid #ff6600;
	border-radius: 3px;
	-webkit-transition: all 0.25s ease-in;
	transition: all 0.25s ease-in;
}

.content__btn:hover {
	transform: scale(1.05);
}

.content__btn:active {
	color: #ff6600;
	background-color: #ffffff;
}

.content__summary {
  box-sizing: border-box;
  width: 990px;
  margin-top: 60px;
  margin-bottom: 70px;
  padding: 50px 107px 65px;
  min-height: 100px;
  background-color: #ffffff;
  margin-left: -107px;
  box-shadow: 0 0 70px rgba(202, 202, 202, 0.23);
}

/* content styles */

.content__text {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

.content__text img {
	display: block;
	width: 100%;
	height: auto;
	margin-top: 58px;
	margin-bottom: 70px;
}

.content__text h2 {
	margin-top: 0;
	margin-bottom: 38px;
	font-size: 24px;
	font-weight: 700;
	line-height: 22px;
}

.content__text h3 {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
}

.content__text p {
	margin-top: 0;
	margin-bottom: 24px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.content__text .intro-paragraph {
	margin-bottom: 45px;
}

.content__text a {
	color: #333333;
	text-decoration: underline;
}

.content__text a:hover,
.content__text a:focus {
	color: #ff6600;
}

.content__text a:active {
	color: #ff6600;
	text-decoration: none;
}

/* end of content styles */


/* hotfix styles */

.negative-margin_top {
	margin-top: -25vh;
}

/* end of hotfix styles */


