.banner {
	padding-top: 200px;
	font-family: 'Ubuntu', Arial, sans-serif;
}

.banner__photo {
	position: relative;
	width: 100%;
	height: calc(100vh - 67px);
	margin-top: -260px;
	background: #333333;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.banner__photo::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(51, 51, 51, 0.7);
}

.banner__container {
	position: relative;
	height: calc(100vh - 67px);
	margin-top: -260px;
}

.banner__text {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0;
	margin: 0;
	color: #ffffff;
	vertical-align: middle;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.banner__heading {
	margin: 0;
	margin-bottom: 70px;
	font-size: 60px;
	line-height: normal;
}

.banner__info {
	margin: 0;
	margin-top: 70px;
	font-size: 14px;
}

.banner__date {
	margin-right: 60px;
}

.banner__btn-scroll {
	position: absolute;
	bottom: 20px;
	left: 50%;
	display: block;
	width: 40px;
	height: 40px;
	font-size: 0;
	background-color: transparent;
	background-image: url('../images/arrow-down.png');
	background-repeat: no-repeat;
	background-size: 40px 40px;
	border: none;
	outline: none;
	-webkit-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	cursor: pointer;
}

.banner__date-block,
.banner__status {
	position: absolute;
	right: 0;
	bottom: 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 233px;
	height: 86px;
	margin: 0;
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	line-height: 86px;
	text-align: center;
	vertical-align: middle;
	background-color: #333333;
}

.banner__status--process .banner__status-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 15px;
	content: url('../images/process.svg');
	vertical-align: middle;
}

.content {
	padding-top: 105px;
	margin-bottom: 110px;
	color: #333333;
	background-image: url('../images/about-bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
}

.content__btn {
	display: block;
	width: 420px;
	padding: 12px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: -0.01em;
	text-align: center;
	text-decoration: none;
	background-color: #ff6600;
	border: 2px solid #ff6600;
	border-radius: 3px;
	-webkit-transition: all 0.25s ease-in;
	transition: all 0.25s ease-in;
}

.content__btn:hover,
.content__btn:active {
	color: #ff6600;
	background-color: #ffffff;
}


/* content styles */

.content__text {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

.content__text img {
	display: block;
	width: 100%;
	height: auto;
	margin-top: 58px;
	margin-bottom: 70px;
}

.content__text h2 {
	margin-top: 0;
	margin-bottom: 38px;
	font-size: 24px;
	font-weight: 700;
	line-height: 22px;
}

.content__text h3 {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
}

.content__text p {
	margin-top: 0;
	margin-bottom: 24px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.content__text .intro-paragraph {
	margin-bottom: 45px;
}

.content__text a {
	color: #333333;
	text-decoration: underline;
}

.content__text a:hover,
.content__text a:focus {
	color: #ff6600;
}

.content__text a:active {
	color: #ff6600;
	text-decoration: none;
}

/* end of content styles */
