
@media screen and (min-width: 1080px){

body{
	margin: 0 0 0 0;
}

.prefooter{
	margin-top: 35px;
	display:flex;
}

.prefooter__left {
	height: 280px;
	width: 50%;
	background-color:#FF6600;
	color:#ffffff;
	font-family:'Ubuntu';
	font-size:30px;
	-webkit-box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
	box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
	cursor: pointer;
}

.prefooter__heading {
	float: right;
	margin: 80px 205px 0 0;
	font-weight: bold;
	font-size: 1.5em;
	letter-spacing: 1px;
}

.prefooter__text--left {
	margin: 0 0 0 0;
	color:#333333;
	font-family:'Ubuntu';
	font-size:17px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1.4;
	visibility: hidden;
}

.prefooter__right {
	height: 280px;
	width: 50%;
	background-color:#F5F5F5;
	color:#333333;
	font-family:'PT Sans';
	font-size:17px;
}

.prefooter__text--right {
	margin: 95px 0 0 45px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1.4;
}


footer{
	display: flex;
	height: 177px;
	width: auto;
	background-color: #333333;
}

#footer-logo{
	margin: 31px 0 0 0;
}

.footer__container {
	display: flex;
	background: url('../images/footerlogo.jpg') no-repeat 0 30px;
}

.footer__menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-top: 20px;
	margin-left: 208px;
}

.footer__menu-item {
	margin: 7px 0 0 0;
	color:#ffffff;
	font-family:'Ubuntu';
	font-size:18px;
	list-style-type: none;
}

.footer__menu-link {
	color:#ffffff;
	text-decoration: none;
}

.footer__social {
	margin-top: 8px;
	margin-left: 98px;
}

.footer__social-title {
	color:#ffffff;
	font-family:'Ubuntu';
	font-size:18px;
}

.footer__social-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.footer__social-link img {
	transition: 200ms;
}

.footer__social-link:hover img {
	transform: scale(1.1);
}

.vk-icon {
	margin-top: -24px;
	margin-left: -10px;
	margin-right: 3px;
}

.telegram-icon {
	margin-top: -5px;
}

.fb-icon {
	margin-top: -15px;
	margin-left: ;
}

.youtube-icon {
	margin-top: -15px;
	margin-left: -5px;
}

.footer__license {
	margin-top: 10px;
}

.footer__license--big {
	display: none;
}

.footer__subscribe {
	margin-top: 8px;
	margin-left: 124px;
}

.footer__subscribe-title {
	display: block;
	margin: 1em 0;
	color:#ffffff;
	font-family:'Ubuntu';
	font-size:18px;
}

.footer__subscribe input{
	box-sizing: border-box;
	width: 195px;
	height: 40px;
	border-radius: 3px;
	background-color: #333333;
	border: 1px #ffffff solid;
}

input[type="email"]{
	font-size:15px;
	padding-left: 10px;
	color: #ffffff;

}

::-webkit-input-placeholder{
	padding-left: 0px;
	font-size:15px;
}

.footer__subscribe-button {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	vertical-align: top;
	width: 48px;
	background-color: #ffffff;
	border: 0px;
	border-radius: 3px;
	margin-left: 15px;
	color: #898989;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	line-height: 40px;
	text-decoration: none;
	cursor: pointer;
}

}

/*//////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1079px){

body{
	margin: 0 0 0 0;
	background-color: #DDDDDD;
	/*overflow-x: hidden;*/
	width: 100%;
}

.prefooter {
	margin: 0 0 0 0;
	justify-content: center;
	width:  100%;
	height: 800px;
	-webkit-box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
	box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
	background-color:#FF6600;

}

.withoutshadow{
	margin: 0 0 0 0;
	justify-content: center;
	width:  100%;
	height: 800px;
	background-color:#FF6600;
}

.blog__article-info {
	display: flex;
}

.blog__article-image {
	margin-left: 35px;
}

.blog__author {
	margin-left: 40px;
}

.prefooter__left {
	margin: 0 0 0 0;
	height: 410px;
	font-size: 58px;
	box-shadow: 0px -1px 70px -5px rgba(0,0,0,0);
}

.prefooter__heading {
	margin: 0 0 0 0;
	padding: 75px 0 0 50px;
	font-weight: bold;
	color:#ffffff;
	font-size: 1.5em;
	letter-spacing: 1px;
	font-family:'Ubuntu';
}

.prefooter__text--left {
	margin: 35px 50px 0 55px;
	color:#ffffff;
	font-family:'PT Sans';
	font-size:45px;
	font-weight: normal;
	visibility: visible;
	letter-spacing: 2px;
}
	
.prefooter__right {
	display: none;
}
	
footer{
	width: auto;
	height: 1000px;
	background-color:#333333;
}

.footer__container {
	display: flex;
	background: url('../images/footerlogo.jpg') no-repeat 45px 80px;
	background-size: 135px 135px;
}


#footer-logo{
	margin: 80px 0 0 45px;
	height: 135px;
	width: 135px;
}
	
.footer__menu {
	margin: 0;
	padding: 0;
	width: 320px;
	margin-top: 40px;
	margin-left: 230px;
}


.footer__menu-item {
	width: 270px;
	margin: 7px 0 0 0;
	color:#ffffff;
	font-family:'Ubuntu';
	font-size:35px;
	list-style-type: none;
	line-height: 2;
}

.footer__menu-link {
	color:#ffffff;
	text-decoration: none;
}	

.footer__social {
	margin-top: 28px;
	margin-left: 60px;

}

.footer__social-title {
	font-size:42px;
	color:#ffffff;
	font-family:'Ubuntu';
}
	
.footer__social-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.vk-icon {
	margin-top: -24px;
	margin-left: -10px;
	margin-right: 3px;
	height: 140px;
	width: 140px;
}

.telegram-icon {
	margin-left: -110px;
	margin-top: 155px;
	height: 90px;
	width: 90px;
}

.fb-icon {
	margin-top: -5px;
padding-left: 40px;
	height: 100px;
	width: 100px;
}

.youtube-icon {
	margin-left: -120px;
	margin-top: 115px;
	height: 150px;
	width: 150px;

}

.face-icon {
	margin-top: -5px;
	height: 100px;
	width: 100px;
}

.footer__subscribe  {
	position: absolute;
	margin-top: 430px;
	margin-left: 270px;
}

.footer__subscribe-title {
	display: block;
	margin: 1em 0;
	color:#ffffff;
	font-family:'Ubuntu';
	font-size:45px;
}

.footer__subscribe input{
	box-sizing: border-box;
	width: 500px;
	height: 100px;
	border-radius: 1px;
	background-color: #333333;
	border: 1px #ffffff solid;
}

input[type="email"]{
	font-size:40px;
	padding-left: 25px;
	color: #ffffff;
}

::-webkit-input-placeholder{
	padding-top: 5px;
	padding-left: 2px;
	font-size:45px;
}

.footer__subscribe-button {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	vertical-align: top;
	margin: 0 0 0 35px;
	background-color:#ffffff;
	color:#848484;
	cursor: pointer;
	font-family:'Ubuntu';
	font-size: 35px;
	padding:32px 35px 30px 33px;
	text-decoration:none;
	border: 0px;
	border-radius: 3px;
	letter-spacing: 1px;
	font-weight: bold;
}	
	
.footer__license {
	display: none;
}

.footer__license--big {
	height: 94px;
	width: 266px;
	margin-top: 55px;
	margin-left: 2px;
	position: absolute;
}	
}