
@media screen and (min-width: 1080px){

body{
	margin: 0 0 0 0;
}

.prefooter{
	margin-top: 35px;
	display:flex;
}

.prefooter-left{
	height: 280px;
	width: 50%;
	background-color:#FF6600;
	color:#ffffff;
	font-family:'Ubuntu';
	font-size:30px;
	-webkit-box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
	box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
	
}

.prefooter-left h1{
	float: right;
	margin: 80px 205px 0 0;
	font-weight: bold;
	letter-spacing: 1px;
}



.prefooter-left p{
	margin: 0 0 0 0;
	color:#333333;
	font-family:'Ubuntu';
	font-size:17px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1.4;
	visibility: hidden;
}

.prefooter-right{
	height: 280px;
	width: 50%;
	background-color:#F5F5F5;
	color:#333333;
	font-family:'Ubuntu';
	font-size:17px;
}

.prefooter-right p{
	margin: 95px 0 0 45px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1.4;
}


footer{
	display: flex;
	height: 177px;
	width: auto;
	background-color:#303030;
}

.footer-logo{
	margin: 31px 0 0 0;
}

.footer-menu{
	width:990px;
	margin: 0 auto;
	display: flex;
}

.list{
	margin-top: 10px;
	margin-left: 68px;
}

.list ul li{
	margin: 7px 0 0 0;
	color:#ffffff;
	font-family:'Ubuntu';
	font-size:18px;
	list-style-type: none;
}

.list a{
	color:#ffffff;
	text-decoration: none;
}

.footer-social{
	margin-top: 8px;
	margin-left: 98px;
}

.footer-social p{
	color:#ffffff;
	font-family:'Ubuntu';
	font-size:18px;
}

.icons{
	display: flex;
}

.footer-icon-vk{
	margin-top: -24px;
	margin-left: -10px;
	margin-right: 3px;
}

.footer-icon-telegram{
	margin-top: -5px;
}

.footer-icon-facebook{
	margin-top: -15px;
	margin-left: ;
}

.footer-icon-youtube{
	margin-top: -15px;
	margin-left: -5px;
}

.footer-license{
	margin-top: 10px;
}

.footer-license-big{
	display: none;
}

.search-row{
	margin-top: 8px;
	margin-left: 124px;
}

.search-row p {
	color:#ffffff;
	font-family:'Ubuntu';
	font-size:18px;
}

.search-row input{
	width: 195px;
	height: 38px;
	border-radius: 3px;
	background-color: #303030;
	border: 1px #ffffff solid;
}

INPUT[type="search"]{
	font-size:15px;
	padding-left: 10px;
	color: #ffffff;

}

::-webkit-input-placeholder{
	padding-left: 0px;
	font-size:15px;
}

.search-row-button{
	width: 48px;
	height: 40px;
	background-color: #ffffff;
	border: 0px;
	border-radius: 3px;
	margin-left: 15px;
	color: #8A8A8A;
	font-size:16px;
		cursor: pointer;
}

}

/*//////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1079px){

body{
	margin: 0 0 0 0;
	background-color: #DDDDDD;
	/*overflow-x: hidden;*/
	width: 100%;
}

.prefooter{
	margin: 0 0 0 0;
	justify-content: center;
	width:  100%;
	height: 800px;
	-webkit-box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
	box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
	background-color:#FF6600;

}

.withoutshadow{
	margin: 0 0 0 0;
	justify-content: center;
	width:  100%;
	height: 800px;
	background-color:#FF6600;
}

.date-autor{
	display: flex;
}

.main-article img{
	margin-left: 35px;
}

.autor{
	margin-left: 40px;
}

.prefooter-left{
	margin: 0 0 0 0;
	height: 410px;
	font-size:58px;
}

.prefooter-left h1{
	margin: 0 0 0 0;
	padding: 75px 0 0 50px;
	font-weight: bold;
	color:#ffffff;
	letter-spacing: 1px;
	font-family:'Ubuntu';
}

.prefooter-left h1 a{
	margin: 83px 140px 0 0px;
	font-weight: bold;
	letter-spacing: 1px;
	color:#ffffff;
	text-decoration: none;
}

.prefooter-left p{
	margin: 35px 50px 0 55px;
	color:#ffffff;
	font-family:'Ubuntu';
	font-size:45px;
	font-weight: normal;
	visibility: visible;
	letter-spacing: 2px;
}
	
.prefooter-right{
	display: none;
}
	
footer{
	width: auto;
	height: 1000px;
	background-color:#303030;
}

.footer-menu{
	display: flex;
}


.footer-logo{
	margin: 80px 0 0 45px;
	height: 135px;
	width: 135px;
}
	
.list{
	width: 320px;
	margin-top: 40px;
	margin-left: 50px;
}


.list ul li{
	width: 270px;
	margin: 7px 0 0 0;
	color:#ffffff;
	font-family:'Ubuntu';
	font-size:35px;
	list-style-type: none;
	line-height: 2;
}

.list a{
	color:#ffffff;
	text-decoration: none;
}	

.footer-social{
	margin-top: 28px;
	margin-left: 60px;

}

.footer-social p{
	font-size:42px;
	color:#ffffff;
	font-family:'Ubuntu';
}
	
.icons{
	display: flex;
}

	
.footer-icon-vk{
	margin-top: -24px;
	margin-left: -10px;
	margin-right: 3px;
	height: 140px;
	width: 140px;
}

.footer-icon-telegram{
	margin-left: -110px;
	margin-top: 155px;
	height: 90px;
	width: 90px;
}

.footer-icon-facebook{
	margin-top: -5px;
padding-left: 40px;
	height: 100px;
	width: 100px;
}

.footer-icon-youtube{
	margin-left: -120px;
	margin-top: 115px;
	height: 150px;
	width: 150px;

}
	
.search-row{
	position: absolute;
	margin-top: 430px;
	margin-left: 270px;
}

.search-row p {
	color:#ffffff;
	font-family:'Ubuntu';
	font-size:45px;
}

.search-row input{
	width: 500px;
	height: 100px;
	border-radius: 1px;
	background-color: #303030;
	border: 1px #ffffff solid;
}

INPUT[type="search"]{
	font-size:40px;
	padding-left: 25px;
	color: #ffffff;
}

::-webkit-input-placeholder{
	padding-top: 5px;
	padding-left: 2px;
	font-size:45px;
}

.search-row-button{
	margin: 0 0 0 35px;
	background-color:#ffffff;
	color:#848484;
	cursor: pointer;
	font-family:'Ubuntu';
	font-size:35px;
	padding:32px 35px 30px 33px;
	text-decoration:none;
	border: 0px;
	border-radius: 2px;
	letter-spacing: 1px;
	font-weight: bold;
}	
	
.footer-license{
	display: none;
}

.footer-license-big{
	height: 94px;
	width: 266px;
	margin-top: 55px;
	margin-left: 2px;
	position: absolute;
}



	
	
	
	
	
	
}