
@media screen and (min-width: 1080px) {
	body{
		margin: 0;
	}

	.prefooter{
		margin-top: 35px;
		display:flex;
	}

	#left-prefooter{
		height: 280px;
		width: 50%;
		background-color:#f60;
		color:#fff;
		font: 30px 'Ubuntu';
		-webkit-box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
		-moz-box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
		box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
	}

	#left-prefooter h1{
		float: right;
		margin: 80px 205px 0 0;
		font-weight: bold;
		letter-spacing: 1px;
	}

	#left-prefooter p{
		margin: 0;
		color:#333;
		font: 17px 'Ubuntu';
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 1.4;
		visibility: hidden;
	}

	#right-prefooter{
		height: 280px;
		width: 50%;
		background-color:#f5f5f5;
		color:#333;
		font: 17px 'Ubuntu';
	}

	#right-prefooter p{
		margin: 95px 0 0 45px;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 1.4;
	}

	.footer {
		display: flex;
		justify-content: center;
		height: 177px;
		background-color:#303030;
	}

	#footer-logo{
		margin: 31px 0 0 0;
	}

	.footer_menu {
		width: 990px;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		background: url('../images/footerlogo.jpg') no-repeat 0 30px;
		padding-left: 150px;
	}

	.list {
		width: 30%;
	}

	.list ul li{
		margin: 7px 0 0 0;
		color:#fff;
		font: 18px 'Ubuntu';
		list-style-type: none;
	}

	.list a{
		color:#fff;
		text-decoration: none;
	}

	.social-network {
		width: 30%;
	}

	.social-network p{
		color:#fff;
		font: 18px 'Ubuntu';
		margin: 0;
	}

	.icons{
		display: flex;
	}

	.icon-item {
		width: 60px;
		height: 60px;
		font-size: 0;
		text-decoration: none;
		transform: scale(0.6);
		margin: 0 -5px;
	}

	.vk {
		background: url('../images/social-network-icons.png') no-repeat 0 0;
	}

	.telegram {
		background: url('../images/social-network-icons.png') no-repeat -60px 0;
	}

	.face {
		background: url('../images/social-network-icons.png') no-repeat -120px 0;
	}

	.youtube {
		background: url('../images/social-network-icons.png') no-repeat -180px 0;
	}

	.footer-logo-2{
		margin-top: 10px;
	}

	#footer-logo-3{
		display: none;
	}

	.search-row{
		margin-top: 8px;
	}

	.search-row p {
		color:#fff;
		font: 18px 'Ubuntu';
	}

	.search-row input{
		width: 195px;
		height: 38px;
		border-radius: 3px;
		background-color: #303030;
		border: 1px solid #fff;
	}

	INPUT[type="search"]{
		font-size:15px;
		padding-left: 10px;
		color: #fff;
	}

	::-webkit-input-placeholder{
		padding-left: 0px;
		font-size:15px;
	}

	.search-row-button{
		width: 48px;
		height: 40px;
		background-color: #ffffff;
		border: 0;
		border-radius: 3px;
		margin-left: 15px;
		color: #8a8a8a;
		font-size:16px;
		cursor: pointer;
	}
}


/*//////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1079px){
	body{
		margin: 0;
		background-color: #ddd;
		width: 100%;
		/*overflow-x: hidden;*/
	}

	.footer_menu{
		display: flex;
		align-items: baseline;
		justify-content: flex-end;
		margin: 0 50px 0 0;
		background: url('../images/footerlogo.jpg') no-repeat 30px 70px;
	}

	.prefooter{
		margin: 0;
		justify-content: center;
		width:  100%;
		height: 800px;
		-webkit-box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
		-moz-box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
		box-shadow: 0px -1px 70px -5px rgba(0,0,0,0.42);
		background-color:#f60;

	}

	.withoutshadow{
		margin: 0;
		justify-content: center;
		width:  100%;
		height: 800px;
		background-color:#f60;
	}

	.date-autor{
		display: flex;
	}

	.main-article img{
		margin-left: 35px;
	}

	.autor{
		margin-left: 40px;
	}

	#left-prefooter{
		margin: 0;
		height: 410px;
		font-size: 58px;
	}

	#left-prefooter h1{
		margin: 0;
		padding: 75px 0 0 50px;
		font-weight: bold;
		color:#fff;
		letter-spacing: 1px;
		font-family:'Ubuntu';
	}

	#left-prefooter h1 a{
		margin: 83px 140px 0 0;
		font-weight: bold;
		letter-spacing: 1px;
		color:#fff;
		text-decoration: none;
	}

	#left-prefooter p{
		margin: 35px 50px 0 55px;
		color:#fff;
		font: 45px 'Ubuntu';
		font-weight: normal;
		visibility: visible;
		letter-spacing: 2px;
	}

	#right-prefooter{
		display: none;
	}

	.footer{
		width: 100%;
		height: 1000px;
		background-color:#303030;
	}

	.list{
		margin: 40px 50px 0 0;
	}


	.list ul li{
		width: 270px;
		margin: 7px 0 0 0;
		color:#fff;
		font: 35px 'Ubuntu';
		list-style-type: none;
		line-height: 2;
	}

	.list a{
		color:#fff;
		text-decoration: none;
	}

	.social-network{
		width: 40%;
		/* display: flex;
		flex-flow: row wrap; */
	}

	.social-network p{
		color:#fff;
		font: 42px 'Ubuntu';
		width: 100%;
	}

	.icons {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	.icon-item {
		width: 60px;
		height: 60px;
		font-size: 0;
		text-decoration: none;
		transform: scale(2);
		margin: 0 40px 60px 40px;
	}

	.vk {
		background: url('../images/social-network-icons.png') no-repeat 0 0;
	}

	.telegram {
		background: url('../images/social-network-icons.png') no-repeat -60px 0;
	}

	.face {
		background: url('../images/social-network-icons.png') no-repeat -120px 0;
	}

	.youtube {
		background: url('../images/social-network-icons.png') no-repeat -180px 0;
	}

	.search-row{
		position: absolute;
		margin-top: 430px;
		padding-right: 40px;
	}

	.search-row p {
		color:#fff;
		font: 45px 'Ubuntu';
	}

	.search-row input{
		width: 500px;
		height: 100px;
		border-radius: 1px;
		background-color: #303030;
		border: 1px solid #fff;
	}

	INPUT[type="search"]{
		font-size:40px;
		padding-left: 25px;
		color: #fff;
	}

	::-webkit-input-placeholder{
		padding-top: 5px;
		padding-left: 2px;
		font-size: 45px;
	}

	.search-row-button{
		margin: 0 0 0 35px;
		background-color:#fff;
		color:#848484;
		cursor: pointer;
		font: 35px 'Ubuntu';
		padding: 32px 35px 30px 33px;
		text-decoration:none;
		border: 0px;
		border-radius: 2px;
		letter-spacing: 1px;
		font-weight: bold;
	}

	.footer-logo-2{
		display: none;
	}

	#footer-logo-3{
		height: 94px;
		width: 266px;
		margin-top: 55px;
		margin-left: 2px;
		position: absolute;
	}
}
