@media screen and (min-width: 2500px){
	#background_left{
		position: absolute;
		left: 0;
		z-index:  1;
		width: 50%;
	}
}

@media screen and (max-width: 1240px){
	#background_left{
	width: 1080px;
	position: absolute;
	left: 0;
	z-index: 1;
}
}


@media screen and (min-width: 1080px){

body{
	margin: 0;
}

.head_menu{
	margin: 0 auto;
	width: 990px;
	height: 65px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.head_logo {
	background: url('../images/menulogo.png') no-repeat 0 0;
	width: 185px;
	height: 46px;
}

.head_menu_buttons {
	display: inline-flex;
	align-items: center;
	text-align: center;
}

.profile{
	font: 16px 'Ubuntu';
	color: #333;
	text-decoration: none;
	width: 136px;
	margin: 0 0 0 10px;
	background: url('../images/profileimg.jpg') no-repeat bottom;
	padding-bottom: 15px;
}

.support {
	font: 16px 'Ubuntu';
	color: #333;
	text-decoration: none;
	width: 96px;
	margin: 0 0 0 35px;
	background: url('../images/supportimg.jpg') no-repeat bottom;
	padding-bottom: 15px;
}

.enter {
	color: #333;
	font: 16px 'Ubuntu';
	font-weight: bold;
	padding: 9px 25px;
	text-decoration: none;
	border: 2px solid #333;
	border-radius: 4px;
	margin: 0 0 0 70px;
}

.language{
	margin: 0;
}

.language-list {
	text-transform: uppercase;
	color: #333;
	font: 13px 'Ubuntu';
	font-weight: bold;
	list-style-type: none;
}

.language-list a{
	color: #333;
	text-decoration: none;
}

.hamburger,
.mob_nav {
	display: none;
}

.nav_bar{
	height: 61px;
	margin-top: -15px;
	position: relative;
	background: rgba(30, 30, 30, 0.86);
	z-index:  2;
}

.sticky{
	margin-top: -67px;
	width: 100%;
	height: 61px;
	position: fixed;
	background: rgba(30, 30, 30, 0.86);
	z-index:  999999;
}

.list_item{
	height: 40px;
	margin-left: 20px;
}

#item1{
	width: 120px;
	margin-left: -5px;
}
#item2{
		margin-left: 20px;
	width: 120px;
}
#item3{
	margin-left: 20px;
	width: 60px;
}
#item4{
	margin-left: 20px;
	width: 170px;
}
#item5{
	margin-left: 20px;
	width: 100px;
}
#item6{
	margin-left: 20px;
	width: 60px;
}
#item7{
		margin-left: 20px;
	width: 140px;
}
#item8{
	margin-left: 20px;
	width: 100px;
}

.nav_bar ul{
	margin-left: -70px;
	display: flex;
	justify-content: center;
}

.nav_bar ul li{
	color: #ffffff;
	font-family:'Ubuntu';
	font-size:18px;
	margin: 20px 0 0 20px;
	height: 40px;
	list-style-type: none;
	display: inline-block;
}

.nav_bar ul li a{
	color: #ffffff;
	text-decoration: none;
	transition:.2s;
	padding: 5px 5px 5px 5px;
	margin: 10px 0;
}

.nav_bar ul li a:hover{
	color: #C4FF00;
	transition:.2s;
	font-size:20px;
	border-left: 2px solid #C4FF00;
}

.menu_background{
	width: 100%;
	margin: -61px 0 0 0;
	display: flex;
	height: 705px;
}

.background_left{
	height: 705px;
	width: 50%;
	z-index:1;
	background: url('../images/spacetable3.png') no-repeat 0 0;
}

.background_left .manifest{
		display: none;
}

.background_right{
	height: 705px;
	background: #121212 url('../images/background.jpg') no-repeat top right;
	width: 50%;
}

/*#background_left{

	position: absolute;
	left: 0;
	z-index:  1;
}*/


#background_right{
	position: absolute;
	right: 0;
	z-index:  1;
}

.manifest p{
	margin: 215px 0 0 63px;
	position: absolute;
	color: #ffffff;
	font-family:'Ubuntu';
	font-size:25px;
	letter-spacing: 0px;
	line-height: 1.2;
	z-index: 3;
}

.manifest a{
	margin: 420px 0 0 63px;
	position: absolute;
	text-decoration: none;
	color: #ffffff;
	padding: 15px 25px 18px 25px;
	background-color: #FF6600;
	font-family:'Ubuntu';
	font-weight: bold;
	font-size:18px;
	border-radius: 3px;
	z-index: 3;
}
}

/*//////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1079px){
	body{
	margin: 0 0 0 0;
	background-color: #DDDDDD;
	/*overflow-x: hidden;*/
	width: 100%;
}

body{
	margin: 0;
}

header{
	margin: 0;
}

.head_logo {
	background: url('../images/mobilelogo.jpg') no-repeat 0 0;
	background-size: cover;
	width: 500px;
	height: 125px;
	margin-left: 45px;
}

.head_menu{
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 200px;
	background-color: #ffffff;
	width: 100%;
	z-index:5;
}

.profile,
.support,
.enter,
.language,
.nav_bar {
	display: none;
}

.hamburger {
	width: 100px;
	height: 100px;
	background: #fff url('../images/hamburger.jpg') no-repeat;
	background-size: 100px;
	border: none;
	margin-right: 45px;
}

.background_left{
	height: 1024px;
	width: auto;
	background-color: #ffffff;
	background-image: url('../images/space_table_blur2.jpg');
	margin: 0;
}

#background_left{
	display: none;
	background-color:#ffffff;
}

.background_right{
	display: none;
}

.falanster_manifest{
	padding-top: 200px;
}

.manifest{
	margin: 0;
	height: 516px;
	width: 930px;
}

.manifest p{
	margin: 0;
	padding: 120px 0 0 45px;
	color: #ffffff;
	font-family:'Ubuntu';
	font-size:60px;
	letter-spacing: 0px;
	line-height: 1.2;
	z-index: 3;
}



.manifest a{
	position: absolute;
	margin: 80px 0 0 45px;
	text-decoration: none;
	color: #ffffff;
	padding: 35px 35px 38px 35px;
	background-color: #FF6600;
	font-family:'Ubuntu';
	font-weight: bold;
	font-size:45px;
	border-radius: 2px;
	z-index: 4;
}

}
