
@media screen and (min-width: 2600px){
	#background_left{
		position: absolute;
		left: 0;
		z-index:  1;
		width: 50%;
	}
}


@media screen and (min-width: 1081px){

body{
	margin: 0 0 0 0;
}

.head_menu{
	display: flex;
	height: 65px;
}

.head_menu img{
	margin: 10px 0 10px 187px;
}

.head_menu_buttons{
		display: flex;
	margin-left: auto;
  margin-right: 0;
  padding-right: 40px;
}

.profile{

	width: 136px;
	margin: 20px 0 0 350px;
	text-align: center;
}

.profile a{
	margin:0 0 0 0;
	color: #333333;
	font-family:'Ubuntu';
	font-size:16px;
	text-decoration: none;
}

#profileimg{
	position: inherit;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.support{

	width: 96px;
	margin: 20px 0 0 35px;
		text-align: center;
}

.support a{
	margin:0 0 0 0;
	color: #333333;
	font-family:'Ubuntu';
	font-size:16px;
	text-decoration: none;
}

#supportimg{
	position: inherit;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.enter{
	margin: 25px 0 0 70px;
}

.enter a{
	color: #333333;
	font-family:'Ubuntu';
	font-size:16px;
	font-weight: bold;
	padding: 9px 25px 9px 25px;
	text-decoration: none;
	border: 2px solid #333333;
	border-radius: 4px;
}

.language ul{
	margin: 10px 0 0 0;
}

.language ul li{
	text-transform: uppercase;
	color: #333333;
	font-family:'Ubuntu';
	font-size:13px;
	font-weight: bold;
	list-style-type: none;
}

.language ul li a{
	color: #333333;
	text-decoration: none;
}

.nav_bar{
	height: 61px;
	margin-top: -15px;
	position: relative;
	background: rgba(30, 30, 30, 0.86);
	z-index:  2;
}

.list_item{
	height: 40px;
	margin-left: 20px;
}

#item1{
	width: 120px;
}
#item2{
	width: 120px;
}
#item3{
	width: 60px;
}
#item4{
	margin-left: 25px;
	width: 170px;
}
#item5{
	width: 100px;
}
#item6{
	margin-left: 35px;
	width: 60px;
}
#item7{
	width: 140px;
}
#item8{
	margin-left: 15px;
	width: 100px;
}

.nav_bar ul{
	margin-left: -70px;
	display: flex;
	justify-content: center;
}

.nav_bar ul li{
	color: #ffffff;
	font-family:'Ubuntu';
	font-size:18px;
	margin: 20px 0 0 20px;
	height: 40px;
	list-style-type: none;
	display: inline-block;
}

.nav_bar ul li a{
	color: #ffffff;
	text-decoration: none;
	transition:.2s;
	padding: 5px 5px 5px 5px;
	margin: 10px 0;
}

.nav_bar ul li a:hover{
	color: #C4FF00;
	transition:.2s;
	font-size:20px;
	border-left: 2px solid #C4FF00;
}

.menu_background{
	width: 100%;
	margin: -61px 0 0 0;
	display: flex;
	height: 705px;
}

.background_left{
	height: 705px;
	width: 50%;
}

.background_left img{
	height: 705px;
}


.background_left .manifest{
		display: none;
}

.background_right{
	height: 705px;
}

#background_left{
	position: absolute;
	left: 0;
	z-index:  1;
}


#background_right{
	position: absolute;
	right: 0;
	z-index:  1;
}

.background_right img{
		width: 50%;
		height: 705px;

}


.manifest p{
	margin: 215px 0 0 63px;
	position: absolute;
	color: #ffffff;
	font-family:'Ubuntu';
	font-size:25px;
	letter-spacing: 0px;
	line-height: 1.2;
	z-index: 3;
}

.manifest a{
	margin: 420px 0 0 63px;
	position: absolute;
	text-decoration: none;
	color: #ffffff;
	padding: 15px 25px 18px 25px;
	background-color: #FF6600;
	font-family:'Ubuntu';
	font-weight: bold;
	font-size:18px;
	border-radius: 3px;
	z-index: 3;
}
}

/*//////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1080px){
	
	body{
	margin: 0 0 0 0;
	background-color: #DDDDDD;
	/*overflow-x: hidden;*/
	width: 100%;
}

body{
	margin: 0 0 0 0;
}

header{
	margin: 0 0 0 0;
}

.head_menu{
	display: flex;
	height: 200px;
	background-color: #ffffff;
	width: 100%;
}

#head_menu{
padding: 45px 0 0 45px;
	height: 125px;
	width: 500px;
	content: url('../images/menulogo2.jpg');
}

.profile{
	display: none;
}

.support{
	display: none;
}

.enter{
	display: none;
}

.language{
	display: none;
}

.nav_bar{
	display: none;
}

.background_left{
	height: 854px;
	width: auto;
	background-color: #ffffff;
	background-size: 100%;
	background-image: url('../images/space_table_blur2.jpg');
	margin: 0 0 0 0;
}

#background_left{
	display: none;
	background-color:#ffffff;
}

.background_right{
	display: none;
}

.manifest{
	margin: 0 0 0 0;
	height: 516px;
	width: 750px;
}

.manifest p{
	margin: 0 0 0 0;
	padding: 100px 0 0 45px;
	color: #ffffff;
	font-family:'Ubuntu';
	font-size:55px;
	letter-spacing: 0px;
	line-height: 1.2;
	z-index: 3;
}



.manifest a{
	position: absolute;
	margin: 50px 0 0 45px;
	text-decoration: none;
	color: #ffffff;
	padding: 15px 25px 18px 25px;
	background-color: #FF6600;
	font-family:'Ubuntu';
	font-weight: bold;
	font-size:30px;
	border-radius: 1px;
	z-index: 4;
}




}