
@media screen and (min-width: 2500px){
	#background_left{
		position: absolute;
		left: 0;
		z-index:  1;
		width: 50%;
	}
}

@media screen and (max-width: 1240px){
	#background_left{
	width: 1080px;
	position: absolute;
	left: 0;
	z-index:  1;
}
}


@media screen and (min-width: 1080px){

body{
	margin: 0 0 0 0;
}

.head_menu{
	margin: 0 auto;
	width: 990px;
	display: flex;
	height: 65px;
}

.head_logo{
	margin-left: ;
}

.head_logo img{
	margin: 10px 0 10px 0px;
}

.head_menu_buttons{
	margin-left: auto;
	margin-right: ;
	display: flex;
}

.profile{
	width: 136px;
	margin: 20px 0 0 10px;
	text-align: center;
}

.profile a{
	margin:0 0 0 0;
	color: #333333;
	font-family:'Ubuntu';
	font-size:16px;
	text-decoration: none;
}

.profile_img{
	position: inherit;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.support{

	width: 96px;
	margin: 20px 0 0 35px;
		text-align: center;
}

.support a{
	margin:0 0 0 0;
	color: #333333;
	font-family:'Ubuntu';
	font-size:16px;
	text-decoration: none;
}

.support_img{
	position: inherit;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.enter{
	margin: 25px 0 0 70px;
}

.enter a{
	color: #333333;
	font-family:'Ubuntu';
	font-size:16px;
	font-weight: bold;
	padding: 9px 25px 9px 25px;
	text-decoration: none;
	border: 2px solid #333333;
	border-radius: 4px;
}

.language ul{
	margin: 10px 0 0 0;
}

.language ul li{
	text-transform: uppercase;
	color: #333333;
	font-family:'Ubuntu';
	font-size:13px;
	font-weight: bold;
	list-style-type: none;
}

.language ul li a{
	color: #333333;
	text-decoration: none;
}

.hamburger{
	display: none;
}

.mob_nav{
	display: none;
}

.nav_bar{
	height: 61px;
	margin-top: -15px;
	position: relative;
	background: rgba(30, 30, 30, 0.86);
	z-index:  2;
}

.sticky{
	margin-top: -67px;
	width: 100%;
	height: 61px;
	position: fixed;
	background: rgba(30, 30, 30, 0.86);
	z-index:  999999;
}

.list_item{
	height: 40px;
	margin-left: 20px;
}

.list_item_1{
	width: 120px;
	margin-left: -5px;
}
.list_item_2{
		margin-left: 20px;
	width: 120px;
}
.list_item_3{
	margin-left: 20px;
	width: 60px;
}
.list_item_4{
	margin-left: 20px;
	width: 170px;
}
.list_item_5{
	margin-left: 20px;
	width: 100px;
}
.list_item_6{
	margin-left: 20px;
	width: 60px;
}
.list_item_7{
		margin-left: 20px;
	width: 140px;
}
.list_item_8{
	margin-left: 20px;
	width: 100px;
}

.nav_bar ul{
	margin-left: -70px;
	display: flex;
	justify-content: center;
}

.nav_bar ul li{
	color: #ffffff;
	font-family:'Ubuntu';
	font-size:18px;
	margin: 20px 0 0 20px;
	height: 40px;
	list-style-type: none;
	display: inline-block;
}

.nav_bar ul li a{
	color: #ffffff;
	text-decoration: none;
	transition:.2s;
	padding: 5px 5px 5px 5px;
	margin: 10px 0;
}

.nav_bar ul li a:hover{
	color: #C4FF00;
	transition:.2s;
	font-size:20px;
	border-left: 2px solid #C4FF00;
}

.menu_background{
	width: 100%;
	margin: -61px 0 0 0;
	display: flex;
	height: 705px;
}

.background_left{
	height: 705px;
	width: 50%;
	z-index:1;
}

.background_left img{
	height: 705px;
}


.background_left .manifest{
		display: none;
}

.background_right{
	height: 705px;
}

/*#background_left{

	position: absolute;
	left: 0;
	z-index:  1;
}*/


#background_right{
	position: absolute;
	right: 0;
	z-index:  1;
}

.background_right img{
		width: 50%;
		height: 705px;

}


.manifest p{
	margin: 215px 0 0 63px;
	position: absolute;
	color: #ffffff;
	font-family:'Ubuntu';
	font-size:25px;
	letter-spacing: 0px;
	line-height: 1.2;
	z-index: 3;
}

.manifest a{
	margin: 420px 0 0 63px;
	position: absolute;
	text-decoration: none;
	color: #ffffff;
	padding: 15px 25px 18px 25px;
	background-color: #FF6600;
	font-family:'Ubuntu';
	font-weight: bold;
	font-size:18px;
	border-radius: 3px;
	z-index: 3;
}
}

/*//////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1079px){
	
	body{
	margin: 0 0 0 0;
	background-color: #DDDDDD;
	/*overflow-x: hidden;*/
	width: 100%;
}

body{
	margin: 0 0 0 0;
}

header{
	margin: 0 0 0 0;
}

.head_menu{
	position: fixed;
	display: flex;
	height: 200px;
	background-color: #ffffff;
	width: 100%;
	z-index:5;
}

.head_menu_logo{
	padding: 45px 0 0 45px;
	height: 125px;
	width: 500px;
	content: url('../images/menulogo2.jpg');
}

.profile{
	display: none;
}

.support{
	display: none;
}

.enter{
	display: none;
}

.language{
	display: none;
}

.nav_bar{
	display: none;
}

.hamburger_button{
	position: absolute;
	background-color: #ffffff;
	border: none;
	margin-top: 45px;
	right: 5%;
}



.background_left{
	height: 1024px;
	width: auto;
	background-color: #ffffff;
	background-image: url('../images/space_table_blur2.jpg');
	margin: 0 0 0 0;
}

#background_left{
	display: none;
	background-color:#ffffff;
}

.background_right{
	display: none;
}

.falanster_manifest{
	padding-top: 200px;
}

.manifest{
	margin: 0 0 0 0;
	height: 516px;
	width: 930px;
}

.manifest p{
	margin: 0 0 0 0;
	padding: 120px 0 0 45px;
	color: #ffffff;
	font-family:'Ubuntu';
	font-size:60px;
	letter-spacing: 0px;
	line-height: 1.2;
	z-index: 3;
}



.manifest a{
	position: absolute;
	margin: 80px 0 0 45px;
	text-decoration: none;
	color: #ffffff;
	padding: 35px 35px 38px 35px;
	background-color: #FF6600;
	font-family:'Ubuntu';
	font-weight: bold;
	font-size:45px;
	border-radius: 2px;
	z-index: 4;
}

}