@media screen and (max-width: 1079px){
	
body{
	margin: 0 0 0 0;
}

.mob_nav{
	width: 100%;
	height: 100vh;
	left: -100%;
	padding: 15px 0 30px 0;
	background-color: #333333;
	line-height: 1.5;
	z-index:9999;
	transition: left 0.3s;
	position: fixed;
}


#close_button{
	background-color: #303030;
	color: white;
	border: none;
	font-size:55px;
	position: absolute;
	margin-top: 10px;
	right: 5%;
	cursor: pointer;
}

#menu_mob li{
	color: white;
	list-style-type: none; 
	font-size:55px;
	font-family:'Ubuntu';
}

#menu_mob li:nth-child(1){
	padding-top:73px;
}

#menu_mob li a{
	color: white;
	text-decoration: none;
}

#menu_mob li a:active{
	color: #ff6600;
}

#languge_mob{
	display: flex;
}

#languge_mob li{
	color: #898989;
	list-style-type: none; 
	padding-right: 40px;
	padding-bottom: 25px;
	font-size:45px;
	font-family:'Ubuntu';
}

#languge_mob li a{
	color: #898989;
	text-decoration: none;
}

#bel{
	border-bottom: 4px #898989 solid;
}

}