
@media screen and (min-width: 2200px){
	
.content{
	display: flex;
}

#menu{
	z-index: 3;
}

#right-side-img {
	margin-top: 0 !important;
	width: 230px !important;
	height: 756px !important;
	background-size: 230px 756px !important;
}

#right-side-img img{
	margin-top: -310px;
	width: 230px;
	right: 0;
	z-index:  1;
}

#block{
	margin-left: 85px;
}

}

@media screen and (max-width: 1165px){
	#left-side-img{
display: none;
}

}



@media screen and (min-width: 1080px){

body{
	margin: 0 0 0 0;
}

.midle{
	display: flex;
}

#left-side-img{
	/* position: absolute; */
	margin-top: -77px;
	margin-left: 3%;
	z-index: 0;
	width: 50px;
	margin-right: -50px;
	background: url('../images/left.png') no-repeat;
	background-size: 50px 456px;
}

#menu{
    margin: 0 auto;
}

.block{
	display: flex;
	z-index: 2;
}

#caption h1{
	width:auto;
	margin-top: 102px;
	margin-left: -4px;
	margin-bottom: 76px;
	font-family: 'Ubuntu';
	font-size: 60px;
	color: #090909;
	letter-spacing: 1px;
	text-shadow: 2px 2px 0px #FF6600;
	z-index: 2;
}

.block-text{
	height: 160px;
	width: 456px;
	background-color:#FCFCFC;
	margin-top: -164px;
	position: absolute;
	z-index: 10;
  	border-radius:3px;
	transition:.5s;
}

.info-block:hover .block-text{
	display: none;
	transition:.5s;
}



.block-image{
	height: 398px;
	width: 456px;
	transition:.5s;
	border-radius:3px;
}

.info-block:hover .block-image{
	height: 398px;
	width: 456px;
	border-radius:3px;
	/*opacity: 0.4;*/
	transition:.5s;
	z-index: 3;
	box-shadow: 0px 0px 40px 0px rgba(50, 50, 50, 0.40);
}

.info-block{
	position: relative;
	background-color:#FCFCFC;
	border-radius:3px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 75px;
	z-index:  2;
	border-width: 1px;
	border-style: solid;
	border-color: #E9E9E9;
}

.info-block img{
			border-radius:3px;
}

.info-block h2{
	text-align: center;
	font-family: 'Ubuntu';
	font-size: 24;
	color:  #333333;
	margin: 20px 0 5px 0;
	letter-spacing: 0.5px;
}

.info-block h2 a{
	color: #333333;
	text-decoration: none;
}


.info-block p{
	font-family: "PT Sans"; 
	margin-top: 0px;
	font-size: 16px;
	text-align: left;
	margin: 0 45px 0 43px;
	color:  #767676;
	line-height: 1.4;
	text-align: center;
}

.info-block p a{
	visibility: hidden;
}

.info-block-highimg{
    background-image: url('../images/x1.jpg');
	height: 398px;
	width: 456px;
	border-radius:3px;
	margin-left: 75px;
	margin-right: 0px;
	margin-bottom: 75px;
	z-index: 3;
	box-shadow: 0px 0px 40px 0px rgba(50, 50, 50, 0.40);
}


.info-block-highimg h2{
	text-align: center;
	font-family: 'Ubuntu';
	font-size: 30;
	color:  #333333;
	margin: 137px 0 10px 8px;
	letter-spacing: 0.5px;
}

.block-image{
}


.block-button{
	position: absolute;
	margin-top: -250px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	text-align: center;
}

#showmore{
	background-color:#ff6600;
	margin-top: 10px;
	color:#ffffff;
	cursor: pointer;
	font-family:'Ubuntu';
	font-size:15px;
	padding:19px 19px 16px 20px;
	text-decoration:none;
	border-radius:4px;
	border-width: 0px;
	letter-spacing: 1px;
	font-weight: bold;
	visibility: hidden;
	
}

.info-block:hover #showmore{
	visibility: visible;
	transition:.8s;
}

#article{
	visibility: hidden;
}

.info-block:hover #article{
	visibility: visible;
	transition:.8s;
}


.block-button:hover button{
	visibility: visible;
	transition:.8s;
}

/*#blockimg{
	border-radius:3px;
	opacity: 0.40;
}*/

.info-block:nth-child(2){
		margin-left: 75px;
}

#right-side-img{
    margin-top: 305px;
	position: absolute;
	right: 0;
	z-index:  1;
	width: 264px;
	height: 868px;
	background: url('../images/right.svg') no-repeat 0 0;
}

.buttons{
	visibility: hidden;
}
}




/*//////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1079px){

body{
	margin: 0 0 0 0;
	background-color: #DDDDDD;
}

.midle{
	width: 100%;
	background-color: white;
    display: flex;
}

#menu{
	width: 100%;
}

#caption h1{
	margin-top: 180px;
	margin-left: 35px;
	margin-bottom: 58px;
	font-family: 'Ubuntu';
	font-size: 88px;
	color: #090909;
	letter-spacing: 2px;
	text-shadow: 2px 2px 0px #FF6600;
}

.block h2{
	margin-top: 160px;
	margin-left: 35px;
	margin-bottom: 20px;
	font-family: 'Ubuntu';
	font-size: 8px;
	color: #303030;
	letter-spacing: 2px;
}

.block img{
	margin-left: 10%;

}

#block1 img{
	content: url('../images/img111.jpg');
	width: 798px;
	height: 477px;
}

#block2 img{
	content: url('../images/img444.jpg');
	width: 798px;
	height: 477px;
}

#block3 img{
	content: url('../images/img222.jpg');
	width: 798px;
	height: 477px;
}

#block4 img{
	content: url('../images/img333.jpg');
	width: 798px;
	height: 477px;
}

.block p{
	margin-left: 35px;
	margin-right: 25px;
	font-family: "PT Sans"; 
	font-size: 40px; 
	color: #303030;
	
}

.block p a{
	color: black;
	font-family:'Ubuntu';
	font-size:45px;
	border-bottom: 2px #303030 solid;
	display: inline-block;
    vertical-align: baseline;
    line-height: 1;
	text-decoration: none;
	font-weight: 600;

}

.block-text h2{
	font-size: 60px;
	margin: 170px 0 0 35px;
}

.block-text h2 a{
	color: #ff6600;
	text-decoration: none;
}

/*#project_source1:visited{
	color: #ff6600;
	text-decoration: none;
}
#project_source2:visited{
	color: #ff6600;
	text-decoration: none;
}
#project_source3:visited{
	color: #ff6600;
	text-decoration: none;
}
#project_source4:visited{
	color: #ff6600;
	text-decoration: none;
}*/

#article{
	display:none;
}

#showmore{
		visibility: hidden;
}

.buttons{
	visibility: visible;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 70px;
}

.block-image img{
	
}

.info-block{
	display: none;
}

.info-block-visible{
	display: block;
}

.block-text{
	margin-top: -150px;
}


.basic{
	height: 50px;
	width: 50px;
	margin: 15px 35px 180px 0;
	background-color: white;
	border: 2px #AAABAA solid;
	border-radius:3px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.basic:hover{
	height: 50px;
	width: 50px;
	margin: 15px 35px 180px 0;
	background-color: white;
	border: 2px #d6ff32 solid;
	border-radius:3px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.btn-on{
	height: 50px;
	width: 50px;
	margin: 15px 35px 180px 0;
	background-color: #d6ff32;
	border: 2px #d6ff32 solid;
	border-radius:3px;
	box-shadow: 0 0 0 rgba(0,0,0,0.);

}

#left-side-img{
		display: none;
}

#right-side-img{

		display: none;
}

#highimg{
	display: none;
}


}

